#nav{
    background-color: green;
    height:50px; 
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center; 

}
#nav-container {
    margin-left:20px;
}
#nav-links {
    display: flex;
    gap: 3rem;
    width:40%;
  }
a{
    text-decoration: none;
    color:red;  
    font-size: 1.5rem; 
}
a:hover{
    color:white;
    transition:color 1s ease;
}
